<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
  <a href="#" class="sidebar-toggler flex-shrink-0">
    <i class="fa fa-bars"></i>
  </a>
  <div class="navbar-nav align-items-center ms-auto">

    <!-- Notification Start -->
    <script>
      const parsedLocalStorage = JSON.parse(localStorage.getItem('SinKScan'))
    </script>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fa fa-envelope me-lg-2"></i>
        <span class="d-none d-lg-inline-flex">3 Latest Scans</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"
        id="dropdown-menu">
      </div>
      <script>
        window.addEventListener('load', () => {
          var root = document.getElementById('dropdown-menu');
          for (var i = 0; i < parsedLocalStorage.length || i < 3; i++) {
            var a = document.createElement('a');
            a.href = '#'
            a.classList.add('dropdown-item');

            var h6 = document.createElement('h6');
            h6.classList.add('fw-normal', 'mb-0');
            h6.textContent = (parsedLocalStorage[0].url) ? parsedLocalStorage[0].url : ''

            a.appendChild(h6);

            var hr = document.createElement('hr');
            hr.classList.add('dropdown-divider');

            root.appendChild(a);
            root.appendChild(hr);
          }
          var gotoReports = document.createElement('a');
          gotoReports.classList.add('dropdown-item', 'text-center');
          gotoReports.href = '../pages/reports.ejs';
          gotoReports.textContent = 'See all scans';

          root.appendChild(gotoReports);
        })
      </script>
    </div>
    <!-- Notification End -->

  </div>
</nav>