<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a href="index.ejs" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>SinK</h3>
    </a>
    <div class="navbar-nav w-100">
      <a href="index.ejs" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
      <a href="input.ejs" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Engage targets</a>
      <a href="ping.ejs" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Ping Server</a>
      <a href="newreport.ejs" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Generate report</a>
      <a href="reports.ejs" class="nav-item nav-link"><i class="fa fa-th me-2"></i>View reports</a>
    </div>
  </nav>
</div>
<script>
  const a = document.getElementsByClassName("navbar-nav")[0].getElementsByTagName("a")
  const list = Array.prototype.slice.call(a)
  list.forEach((value, index, ar) => {
    if (a[index].href.endsWith(location.pathname)) {
      setActive(index)
    }
  })
  function setActive(i) {
    list.forEach((value, index, ar) => {
      a[index].classList.remove("active")
    })
    a[i].classList.add("active")
  }
</script>